header {
  text-align: center;
}

header h1 {
  margin-bottom: 0;
}

header p {
  margin-top: 0;
}

.results:first-child {
  float: left;
  width: 50%;
}

.results:nth-child(2) {
  float: right;
  width: 50%;
}

.hiddenRadio {
  display: none;
}

.results div {
  margin: 0 40px;

}

.results > span {
  margin: 10px 20px;
  padding-left: 20px;
  font-size: 12px;
}

.results div span {
  padding-left: 10px;
}

.skillLabel {
  display: inline-block;
  border: 1px #aaa solid;
  border-radius: 5px;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  width: 10em;
}

.hiddenRadio:checked + .skillLabel {
  background-color: #eee; 
}

.results {
  margin-bottom: 20px;
}

strong {
  font-size: larger;
  padding-left: 60px;
}

#boxes {
  text-align: center;
}

fieldset {
  display: inline-block;
  text-align: left;
  margin: 10px auto;
  width: 45%;
}

.crmSelector {
  display: block;
  width: 95%;
  margin: 5px auto 10px;
  padding: 3px 10px;
}

input {
  width: 50px;
}

input[type=checkbox] {
  display: none;
}

.critLabel {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #EEE;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 1px 5px;
}

.checked {
  background-color: #AAA;
}