header {
  text-align: center;
}

.results:first-child {
    float: left;
    width: 50%;
}

.results:nth-child(2) {
    float: right;
    width: 50%;
}

.hiddenRadio {
  display: none;
}

.results div {
  margin: 0 20px;

}

.results > span {
  margin: 10px 20px;
  padding-left: 20px;
  font-size: 12px;
}

.results div span {
  padding-left: 10px;
}

.skillLabel {
  display: inline-block;
  border: 1px #aaa solid;
  border-radius: 5px;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  width: 10em;
}

.hiddenRadio:checked + .skillLabel {
  background-color: #eee; 
}

.results {
  margin-bottom: 20px;
}

strong {
  font-size: larger;
}

fieldset {
  display: inline-block;

}

input {
  width: 50px;
}